#order-form{
    width: 20%;
    height: 400px;
    border: 1px solid rebeccapurple;
    margin: auto;
    border: none;
    margin-top: 20px;
}
#name{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}
#number{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}
#address{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
}
#confirm{
    font-size: 20px;
    border-radius: 8px;
    margin-left: 80px;
}
body{
    background-color: gray;
}